<ion-view title="Chat Privado com Miko" id="page8">
  <ion-content padding="true" class="has-header">
    <ion-list id="chatPrivadoComMiko-list9">
      <ion-item class="item-avatar" id="chatPrivadoComMiko-list-item13">
        <img src="img/zHsfW7iiQjuZX8xmljGX_18b522b4a241622901f7a985cadb337e.jpg">
        <h2>Yu Ishigami</h2>
        <p style="white-space:normal;">Olá professora Miko, posso tirar uma dúvida contigo?</p>
      </ion-item>
      <ion-item class="item-avatar" id="chatPrivadoComMiko-list-item14">
        <img src="img/eznPJnO2SPqIXxs2B54S_009592abde4aaccf466bcc64251db238.jpg">
        <h2>Miko Iino</h2>
        <p style="white-space:normal;">Claro, pode falar</p>
      </ion-item>
      <label class="item item-input" id="chatPrivadoComMiko-input5" name="Mensagem">
        <input type="text" placeholder="Sua mensagem aqui">
      </label>
    </ion-list>
    <button id="chatPrivadoComMiko-button7" class="button button-positive button-block">Enviar mensagem</button>
  </ion-content>
</ion-view>