<ion-view title="Chat Privado com Kaguya" id="page5">
  <ion-content padding="true" class="has-header">
    <ion-list id="chatPrivadoComKaguya-list7">
      <ion-item class="item-avatar" id="chatPrivadoComKaguya-list-item16">
        <img src="img/zHsfW7iiQjuZX8xmljGX_18b522b4a241622901f7a985cadb337e.jpg">
        <h2>Yu Ishigami</h2>
        <p style="white-space:normal;">Olá Kaguya, alguma dúvida sobre o conteúdo de hoje?</p>
      </ion-item>
      <ion-item class="item-avatar" id="chatPrivadoComKaguya-list-item17">
        <img src="img/2mdAlixMRqAqZmhXMrr8_Pev-TYba.jpg">
        <h2>Kaguya Shinomiya</h2>
        <p style="white-space:normal;">Sim, ainda bem que você perguntou...</p>
      </ion-item>
      <label class="item item-input" id="chatPrivadoComKaguya-input2" name="Mensagem">
        <input type="text" placeholder="Sua mensagem aqui">
      </label>
    </ion-list>
    <button id="chatPrivadoComKaguya-button1" class="button button-positive button-block">Enviar mensagem</button>
  </ion-content>
</ion-view>