<ion-view title="Criar novo fórum" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="criarNovoFRum-form3" class="list">
      <label class="item item-input" id="criarNovoFRum-input8">
        <span class="input-label">Nome do fórum:</span>
        <input type="text" placeholder="Nome do fórum">
      </label>
      <label class="item item-select" id="criarNovoFRum-select1">
        <span class="input-label">Limite de alunos</span>
        <select>
          <option>10</option>
          <option>20</option>
          <option>30</option>
          <option>40</option>
          <option>50</option>
          <option>60</option>
        </select>
      </label>
    </form>
    <a ui-sref="fRuns3()" id="criarNovoFRum-button9" class="button button-positive button-block">Criar fórum</a>
  </ion-content>
</ion-view>