<ion-view title="Fórum 1" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="fRum1-list3">
      <ion-item class="item-icon-left" id="fRum1-list-item4" ui-sref="seO1()">
        <i class="icon ion-android-hangout"></i>Seção 1</ion-item>
      <ion-item class="item-icon-left" id="fRum1-list-item5">
        <i class="icon ion-android-hangout"></i>Seção 2</ion-item>
      <ion-item class="item-icon-left Atividade 1" id="fRum1-list-item6">
        <i class="icon ion-android-document"></i>Atividade 1</ion-item>
    </ion-list>
  </ion-content>
</ion-view>