<ion-view title="Fóruns" id="page1">
  <ion-content padding="true" class="has-header">
    <ion-list id="fRuns-list2">
      <ion-item class="item-icon-left" id="fRuns-list-item1" ui-sref="fRum1()">
        <i class="icon ion-help"></i>Fórum 1</ion-item>
      <ion-item class="item-icon-left" id="fRuns-list-item2">
        <i class="icon ion-help"></i>Fórum 2</ion-item>
      <ion-item class="item-icon-left" id="fRuns-list-item3">
        <i class="icon ion-help"></i>Fórum 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>