<ion-view title="Seção 1" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="seO1-list4">
      <ion-item class="item-avatar" id="seO1-list-item8" ui-sref="chatPrivadoComKaguya()">
        <img src="img/doqUWPBRJaPSbH9taE5J_Pev-TYba.jpg">
        <h2>Kaguya Shinomiya</h2>
        <p style="white-space:normal;">Opa pessoal, tudo bem?</p>
      </ion-item>
      <ion-item class="item-avatar" id="seO1-list-item9" ui-sref="chatPrivadoComMiko()">
        <img src="img/xZkfR1ZnSrWFqFsUViTM_009592abde4aaccf466bcc64251db238.jpg">
        <h2>Miko Iino</h2>
        <p style="white-space:normal;">Tudo sim, existe alguma dúvida que você deseje tirar?</p>
      </ion-item>
      <label class="item item-input" id="seO1-input3">
        <input type="text" placeholder="Digite uma mensagem">
      </label>
    </ion-list>
    <a ui-sref="seO12()" id="seO1-button2" class="button button-positive button-block">Enviar mensagem</a>
    <a ui-sref="seO13()" id="seO1-button4" class="button button-positive button-block icon-right ion-android-document">Enviar arquivo</a>
  </ion-content>
</ion-view>